name: CDK Application

on:
  push:
    branches:
      - main
    
env:
  CDK_LOCAL_FOLDER: ./ba-cloud-academy-github-cdk-olliethorpe

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install AWS CDK
        run: |
          npm install -g aws-cdk

      - name: Install Python dependencies
        working-directory: ${{ env.CDK_LOCAL_FOLDER }} 
        run: |
          python -m pip install -r requirements.txt
          
      - name: build cloudFormation template
        working-directory: ${{ env.CDK_LOCAL_FOLDER }} 
        run: |
          cdk synth

      - uses: actions/upload-artifact@v3
        with:
          name: cdk-template-artifact
          path: ./ba-cloud-academy-github-cdk-olliethorpe/cdk.out/BaCloudAcademyGithubCdkOlliethorpeStack.template.json

      - uses: actions/upload-artifact@v3
        with:
          name: cdk-assets-artifact
          path: ./ba-cloud-academy-github-cdk-olliethorpe/cdk.out/BaCloudAcademyGithubCdkOlliethorpeStack.assets.json

  verify:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: download artifact
        uses: actions/download-artifact@v3
        with:
          name: cdk-template-artifact
          path: template.json
      
      - uses: aws-actions/setup-sam@v2
        with:
          use-installer: true

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - run: |
          aws cloudformation validate-template --template-body template.json
